@page "/home"
@inject NavigationManager _navigation



<AuthorizeView Roles="@AdministrationRole">
    <p>You are an Administrator</p>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <MudPaper Style="height: 400px; background-size: contain;background: url(background.svg) bottom;" Class="d-flex align-center justify-center">
            <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                <MudText Typo="Typo.h3">Welcome, you are now logged in!</MudText>
            </MudHidden>
            <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                <MudText Typo="Typo.h6">Welcome, you are now logged in!</MudText>
            </MudHidden>
        </MudPaper>
    </Authorized>
    <NotAuthorized>
        <MudPaper Style="margin: 0; height: 400px; background-size: contain;background: url(background.svg) bottom;" Class="d-flex align-center justify-center">
            <MudContainer Style="flex-direction: column; width: 200px; padding: 0" Class="d-flex align-center justify-center">
                <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
                    <MudText Typo="Typo.h1">Welcome!</MudText>
                </MudHidden>
                <MudHidden Breakpoint="Breakpoint.Xs" Invert="true">
                    <MudText Typo="Typo.h5">Welcome!</MudText>
                </MudHidden>
                <MudButton Variant="Variant.Filled" OnClick="@LogIn" EndIcon="@Icons.Material.Filled.Login" Color="@Color.Primary" Style="color: white; width: 200px; height: 60px; margin-top: 30px">
                    Log In
                </MudButton>
            </MudContainer>
        </MudPaper>
    </NotAuthorized>
</AuthorizeView>

<MudCarousel Style="height:275px; transform: translateY(-3px)" ShowArrows="@Arrows" ShowDelimiters="@Delimiters" AutoCycleTime="@_cycleTimer" AutoCycle="@AutoCycle" TData="object">
    <MudCarouselItem Transition="Transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="VideoOverflow.Client/wwwroot/icon-192.png" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" src="icon-192.png" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="VideoOverflow.Client/wwwroot/icon-192.png" Color="@Color.Primary" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
</MudCarousel>

    

@code
{
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

        private const string AdministrationRole = "developer";

        private const bool Arrows = false;
        private const bool Delimiters = true;
        private const bool AutoCycle = true;
        private const Transition Transition = MudBlazor.Transition.Slide;
    private readonly TimeSpan _cycleTimer = new TimeSpan(0, 0, 0, 10);


    private void LogIn()
    {
        _navigation.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(_navigation.Uri)}");
    }
}
